* {
    box-sizing: 0px;
    margin : 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #1e3932;
}

.menu{
    float: right;
    padding : 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 23px;
}


.logo{
    padding: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #000000;
    transform: scale(1.2);
    transition: transform .2s;
}





.kartica{
    border-radius: 50px;
    background-color: #1e3932;
    width : 600px;
    margin-bottom: 50px;
    max-width:100%;
    height: auto;
}

.kartica:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

.glavni_tekst {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: #ffffff;
    padding-top : 30px;
    padding-bottom: 5px;
    margin-left: 7%;
}





.red::after{
    content: "";
    clear: both;
    display: table;
}

.kolona{
    float: left;
    width: 22%;
    padding: 20px;
}



.naslov{
    margin-left: 33%;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 85px;
    color: #000000;
    padding: 50px;
}


.drinks_food{
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    color: #000000;
    padding: 50px;
}


footer {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    padding: 15px;
    background-color: #1e3932;
    color: #ffffff;
}


@media only screen and (max-width: 1000px){
    .naslov{
        margin-left: 15%;
    }
}
